<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <display-name>EsempioServlet</display-name>
    <description>
        Esempio di due servlet per le gestione di richieste
        POST e di richieste GET.
    </description>
    <servlet>
        <servlet-name>ServletGET</servlet-name>
        <servlet-class>ServletGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HiddenFormParameter</servlet-name>
        <servlet-class>HiddenFormParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCookie</servlet-name>
        <servlet-class>ServletCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGET</servlet-name>
        <url-pattern>/ServletGET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HiddenFormParameter</servlet-name>
        <url-pattern>/HFP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCookie</servlet-name>
        <url-pattern>/ServletCookie</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/src/jsp/login.jsp</form-login-page>
            <form-error-page>/src/jsp/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Una pagina protetta</web-resource-name>
            <url-pattern>/src/jsp/register.jsp</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
            <role-name>role1</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
    </security-constraint>
</web-app>
